#reset-container{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(65deg, #020024 0%, #090979 35%, #00d4ff 100%);

}

.reset-section{
    position:absolute;
    top: 25%;
    left:36%;
    width: 400px;
    height: 370px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(30deg, rgba(255,255,255,0.8662815467984069) 0%, rgba(255,255,255,0.8718837876947654) 28%, rgba(255,255,255,0.8746849081429446) 62%, rgba(255,255,255,0.6001751042213761) 100%);
    border-radius: 10px;
    transform: scale(1.2);
    text-align: center;
}

.reset-text{
    width: 90%;
    padding: 2px;  
}

.reset-text h2{
    font-size: 40px;
    margin-bottom: 0;
}
.reset-text hr{
    width: 340px;
    background-color: rgba(0, 0, 0, 0.705);
}
.reset-text p{
    font-size: 13px;
}

.inputs-section{
    width: 250px;
}

.react-icons-reset{
    position: absolute;
    left: 3px;
    top: 6px;
}

.reset-inputs{
    width:100%;
    padding-left: 25px;
}


.reset-form 
.margin-b label,
.reset-form 
.margin-a label{
    font-size: 1.4rem;
    position: relative;
    top: 8px;

}

.reset-form{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.invalid-feedback-reset{
    font-size: 0.9rem;
    color: red;
    font-weight: 600;
    text-align: left;
}

.primary{
    width: 250px;
    height: 45px;
    color: black;
    font-size: 1.5rem;
    border: rgba(92, 16, 233, 0.623) 1px solid;
    transition: 0.2s ease-in-out;
    transition-property: border background-color;
}

.primary:hover{
    background-color: rgba(92, 16, 233, 0.623);
    border: none;
}

#not-macht-url{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.39);
    color: black;
    font-size: 1.8rem;
    text-align: center;

}

.link-to-forget {
    cursor: pointer;
    color:blue;
    font-size: 2rem;
}


/* Mobile */
@media only screen and (min-width: 500px) and (max-width: 800px){
    .reset-section{
        top: 50%;
        left:50%;
        width: 400px;
        height: 370px;
        transform: translate(-50%, -50%);
    }
}


@media only screen and (min-width:800px) and (max-width: 1100px){
    .reset-section{
        top: 50%;
        left:50%;
        width: 400px;
        height: 370px;
        transform: translate(-50%, -50%);
    }
}
